body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
:root {
  --hover-focus-color: #1e90ff;
}
html {
  box-sizing: border-box;
}
h1,
h2,
h3,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
/* ====================GENERAL========================= */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.list {
  list-style: none;
}
.link:hover,
.link:focus {
  color: var(--hover-focus-color);
}
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}
.section {
  padding: 94px 0;
}

/* ==================================================== */

/* --------------------HEADER------------------------- */
/* .x */
.header-container {
  display: flex;
  padding: 24px 0;
  align-items: center;
}
.site-nav {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  /* margin-left: 93px; */
}
.contact-list {
  display: flex;
  margin-left: auto;
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}
.contact-link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #757575;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

/* =================================================== */

/* ====================LOGO=========================== */
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  margin-right: 93px;
}
.bluelogo {
  color: var(--hover-focus-color);
}
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.footer-logo {
  color: #ffffff;
}
/* =================================================== */

/* ====================HERO=========================== */
.hero-section {
  background-color: #2f303a;
}
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.hero-description {
  padding: 200px 0;
  margin: 0 auto;
  max-width: 692px;
  text-align: center;
}
.hero-btn {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
  min-width: 200px;
  height: 50px;
  text-align: center;
  border: 0px;
  color: #ffffff;
  background-color: var(--hover-focus-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
}

/* =================================================== */

/* -------------------FEATURES----------------------- */
.hidden-title {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  padding: 0;
  margin-bottom: 0;
}
.features-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;

  color: #212121;
}
.features-item {
  margin-top: 30px;
  margin-left: 30px;
}
.features-text {
  width: 270px;
}
/* ================================================== */

/* ===================ABOUT========================== */
.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.about-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 30px * 3) / 3);
}
.about-section {
  padding-top: 0;
}

/* ================================================== */

/* ===================TEAM=========================== */
.team-section {
  background-color: #f5f4fa;
}
.team-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;

  color: #212121;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.team-item {
  flex-basis: calc((100% - 30px * 4) / 4);
  background-color: #ffffff;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
}
.team-text {
  text-align: center;
}
.team-description-container {
  padding: 30px 20px;
}
/* ================================================== */

/* ==================FOOTER========================== */
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer-container {
  width: 270px;
}
/* ================================================== */

/* =================PORTFOLIO======================== */
.btn-container {
  margin: 0 auto;
}
.btn-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;
}
.btn-item {
  margin-right: 8px;
}
.btn {
  font-family: "Roboto";
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  min-width: 128px;
  height: 38px;
  text-align: center;
  border: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  border: none;

  background-color: #f5f4fa;
  color: #212121;
}
.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: var(--hover-focus-color);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
}
.protflio-item {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-right: 30px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
}
.portfolio-cap {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  color: #212121;
}
.portfolio-description {
  padding: 20px 24px;
}
.portfolio-title {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ================================================== */
